.header{
    text-align: center;
    background-color: purple;
    padding-bottom: 5px;
    
}
.card{
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}
#textarea{
    float: left;
    margin: 20px;
    width: 1000px;
    height: 180px;
    border-style: solid;
}
#input{
    padding-bottom: 10px;
}


#futureWeather1, #futureWeather2, #futureWeather3, #futureWeather4, #futureWeather5{
    float: left;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-style: solid;
}
